/// Titles pages decoration
@mixin titleUnderline {
    border-bottom: 3px solid $brand-color;
}

%titleUnderline {
    border-bottom: 3px solid $brand-color;
}

/// Main padding structure
%pagePadding { 
    padding: 42px 70px 70px;
}

@mixin box($width, $height:$width) {
    width: $width;
    height: $height;
}
// Responsiveness mixin
@mixin media-query($breakpoint) {
    // check if the key exist into the map
    @if(map-has-key($breakpoints, $breakpoint)) {
        $value: map-get($breakpoints, $breakpoint);
        @media (min-width: $value){
            @content;        
        }
    }
}